---
---
<div id="pixel-buddy-wrap" class="pixel-buddy-wrap">
    <div class="pixel-buddy-inner">
        <canvas id="pixel-buddy" width="108" height="72" style="image-rendering: pixelated; display: block;"></canvas>
    </div>
</div>

<style>
    .pixel-buddy-wrap {
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }

    @media (max-width: 767px) {
        .pixel-buddy-wrap {
            display: none;
        }
    }
</style>
